.table-container {
  overflow-x: auto;
}

.text-wrap {
  overflow-wrap: break-word;

  /* Ensures long words are wrapped */
  white-space: normal;

  /* Allows text to wrap */
  word-wrap: break-word;

  /* Breaks long words if necessary */
}

.custom-table {
  border-collapse: collapse;
  border-spacing: 0;
  inline-size: 100%;
}

.custom-table,
.custom-table th,
.custom-table td {
  border: 1px solid black;
  font-size: 12px;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  text-align: start;
}

.header {
  justify-content: space-between;
  font-weight: bold;
  text-align: center;
}

.section-title {
  font-weight: bold;
}

.image {
  inline-size: 100px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.custom-radio input[type="radio"] {
  block-size: 20px !important;
  inline-size: 20px !important;
}

.v-selection-control__wrapper {
  block-size: 50% !important;
  inline-size: 50% !important;
}

.centered-input >>> input {
  padding: 10px;
  text-align: center;
}

.v-text-field >>> input {
  font-size: 12px;
}

.v-field >>> input {
  text-align: center;
}

.custom-date-time-picker >>> input {
  font-size: 12px;

  /* ปรับขนาดของข้อความในฟิลด์ */
}

.custom-date-time-picker >>> input icon--prepend {
  font-size: 12px;

  /* ปรับขนาดของไอคอนที่อยู่ด้านหน้า */
}
