.active-row {
  background-color: lightgreen;
}

.inactive-row {
  background-color: lightcoral;
}

.text-capitalize {
  text-transform: capitalize;
}

.user-list-name:not(:hover) {
  color: rgba(var(--v-theme-on-background), var(--v-high-emphasis-opacity));
}

.fixed-bottom {
  position: fixed;
  justify-content: center;
  inline-size: 95%;
  inset-block-end: 0;
}

.spinning {
  animation: spin 0.5s linear infinite;
}

.my-header-style {
  background: aquamarine;
}

.td {
  font-size: 12px;
}
