.text-capitalize {
  text-transform: capitalize;
}

.code input {
  text-transform: lowercase;
}

.user-list-name:not(:hover) {
  color: rgba(var(--v-theme-on-background), var(--v-high-emphasis-opacity));
}

.image-transition {
  transition: inline-size 0.2s, inline-size 0.2s;
}

.fixed-top {
  position: fixed; /* Fix the position relative to the viewport */
  z-index: 1000; /* Ensure it's on top of other content */
  inline-size: 92%; /* Set the width to 95% of the viewport width */
  inset-block-start: 5%; /* Position it at the top of the viewport */
}

.fixed-bottom {
  position: fixed;
  display: flex;
  box-sizing: border-box;
  justify-content: start;
  padding: 2px;
  inline-size: 105vw;
  inset-block-end: 0;
  margin-block-end: 80px;
  max-inline-size: 1500vw; /* ไม่ให้เกินขอบหน้าจอ */
}

.spinning {
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.v-text-field >>> input {
  font-size: 12px !important;

  /* text-transform: capitalize; */
}

.v-text-field-density-compact >>> input {
  padding-block-start: 10px;

  /* text-transform: capitalize; */
}

.custom-date-time-picker >>> input {
  font-size: 12px; /* ปรับขนาดของข้อความในฟิลด์ */
}

.custom-date-time-picker >>> input icon--prepend {
  font-size: 12px; /* ปรับขนาดของไอคอนที่อยู่ด้านหน้า */
}

.custom-header {
  margin: 2px; /* ปรับค่า margin ที่นี่ */
}

.auto-wide-table {
  inline-size: 100%; /* ให้ตารางใช้ความกว้างทั้งหมด */
  table-layout: auto; /* ให้ตารางปรับขนาดตามเนื้อหา */
}

.auto-wide-table th,
.auto-wide-table td {
  max-inline-size: 250px; /* กำหนดความกว้างสูงสุด */
  overflow-wrap: break-word; /* ให้ข้อความตัดบรรทัดเมื่อยาวเกิน */
  white-space: normal; /* ให้ข้อความสามารถตัดบรรทัดได้ */
  word-wrap: break-word; /* รองรับข้อความตัดบรรทัด */
}

/* กำหนด CSS สำหรับคอลัมน์ที่ต้องการให้ sticky ด้านซ้าย */
.pa-5 {
  position: sticky;
  z-index: 1;
  background-color: white;
  inset-inline-start: 0;
}

/* กำหนด CSS สำหรับคอลัมน์ Action ที่ต้องการให้ sticky ด้านขวา */
.sticky-right {
  position: sticky;
  z-index: 1;
  inset-inline-end: 0;
}
